
@{
    ViewData["Title"] = "Err";
}

<h1>@ViewBag.Message</h1>

<h3>CLICK TO BACK INDEX PAGE</h3>

<hr />
@Html.ActionLink( "Index", "Home")


<p>copy and paste top of the screen</p>
@Url.ActionLink("Index","Home")