
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" method="post">

    user <input type="" name="userName" />
    <hr />
    password <input type="" name="password" />
    <hr />
    <input type="submit" />

</form>